# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
labelstudio-env/
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Label Studio
label_studio.sqlite3
media/
uploads/

# Temporary notebooks
temp.ipynb

# Label Studio exports
annotations.jsonl

# Numbers autosaves
*.numbers-tef